/* Basic styling for layout */
body {
    font-family: 'Georgia', serif;
    margin: 20px;
    background-color: #def8f8;
    
}

h1, h2 {
    text-align: center;
    color: #1e568a;
    font-style: italic;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color:rgb(42, 127, 153);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(131, 128, 128, 0.15);
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    background-color: rgb(173, 206, 228);
}

legend {
    font-weight: bold;
    color:#332d2d;
}

label {
    display: block;
    margin-top: 10px;
    color: #080808;
}

input, textarea {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e7f3f8;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color:#1c3f9e;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1080e9;
}

#output-section {
    max-width: 550px;
    margin: 20px auto;
    padding: 20px;
    background-color: #b7d5fc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#header {
    display: flex;
    align-items: center;
    gap: 15px;
}

#output-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    background-color: rgb(247, 221, 188);
}

